db/metadata/tools/lib/sims-rtplt-component-security/com/aspire/sims/rtplt/component/security/metadata2/dtds/Metadata_Role_Main.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2007 sp2 (http://www.altova.com)-->
<!ELEMENT telephone EMPTY>
<!ELEMENT staffs ((staff))>
<!ELEMENT staff ((id, departmentId, loginName, realName, password, telephone, mobile, email, expireDays, passwordExpireDays, roleKeys))>
<!ELEMENT roles ((role+))>
<!ELEMENT roleKeys ((roleKey+))>
<!ELEMENT roleKey (#PCDATA)>
<!ELEMENT role ((resource+))>
<!ATTLIST role
	canModify CDATA #IMPLIED
	desc CDATA #IMPLIED
	key CDATA #REQUIRED
	name CDATA #REQUIRED
	autoAssign CDATA #IMPLIED
	visible CDATA #IMPLIED
>
<!ELEMENT resource ((operation+))>
<!ATTLIST resource
	key CDATA #REQUIRED
>
<!ELEMENT realName (#PCDATA)>
<!ELEMENT passwordExpireDays (#PCDATA)>
<!ELEMENT password (#PCDATA)>
<!ELEMENT parentId (#PCDATA)>
<!ELEMENT operation EMPTY>
<!ATTLIST operation
	key CDATA #REQUIRED
>
<!ELEMENT name (#PCDATA)>
<!ELEMENT mobile (#PCDATA)>
<!ELEMENT metadata ((roles, departments?, staffs?))>
<!ELEMENT loginName (#PCDATA)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT expireDays (#PCDATA)>
<!ELEMENT email EMPTY>
<!ELEMENT domain (#PCDATA)>
<!ELEMENT desc (#PCDATA)>
<!ELEMENT departments ((department+))>
<!ELEMENT departmentId (#PCDATA)>
<!ELEMENT department ((id, name, desc, parentId, email, address, canAddSub, domain, roleKeys?))>
<!ELEMENT canAddSub (#PCDATA)>
<!ELEMENT address EMPTY>
