db/metadata/tools/lib/sims-rtplt-component-security/com/aspire/sims/rtplt/component/security/metadata2/dtds/Metadata_Role_Increment.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2007 sp2 (http://www.altova.com)-->
<!ELEMENT metadata (roles)>
<!ELEMENT roles ((role+))>
<!ELEMENT roleKeys ((roleKey+))>
<!ELEMENT roleKey (#PCDATA)>
<!ELEMENT role ((resource+))>
<!ATTLIST role
	canModify CDATA #IMPLIED
	desc CDATA #IMPLIED
	key CDATA #REQUIRED
	name CDATA #REQUIRED
	autoAssign CDATA #IMPLIED
	visible CDATA #IMPLIED
	metadataOperation (placeholder| upsert | delete | delsert)  "upsert"
>
<!ELEMENT resource ((operation+))>
<!ATTLIST resource
	key CDATA #REQUIRED
	metadataOperation (placeholder| upsert | delete | delsert)  "upsert"
>
<!ELEMENT operation EMPTY>
<!ATTLIST operation
	key CDATA #REQUIRED
	metadataOperation (upsert | deletet)  "upsert"
>
